/* normalizing our css */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


* {

    /* color: green; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-color: yellowgreen;

}

/* id selector */
#contact {
    background-color: brown;
}

p {
    color:teal;
}
/* class selector */
.my-ps {
    background-color: rgb(229, 134, 134);
}
/* .my-width {
    width: 200px;
} */

li {
    color: hotpink
}
.box {
    color: white;
    font-weight: 600;
    background-color: rgb(55, 131, 223);
    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */
    padding: 10px;
    /* border-color: black;
    border-style: solid;
    border-width: 3px; */
    border: solid 1px black;
    border-radius: 10px;
    text-transform: capitalize;

    /* margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px; */

    /* margin: 10px 20px 10px 20px; */
    margin: 10px 20px;
    
}

footer {
    background-color: tan;
}
/* child selectors */
footer > h3 {
    background-color: red;
}
footer > ul > li {
    color:blueviolet
}